main{
    height: 97vh;
}

table{
    width: 100%;
    font-size: 1.2rem;
}

tr , td , th{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

#add-weight{
    height: 20%;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: arial;

    input{
        width: 100px;
    }

    label , button , input{
        margin: 10px;
    }
}